### What is Data Preprocessing

-process of preparing raw data into a suitable format so that it can be used by a ML algorithm

WHY DO WE NEED PREPROCESSING
-it increases the accuracy and efficiency of a machine learning model.

#### What are some steps involved in data preprocessing?

Data preprocessing generally involves following steps
-Getting the dataset
-Importing libraries
-Importing datasets
-Finding Missing Data
-Encoding Categorical Data
-Splitting dataset into training and test set
-Feature scaling

In [1]:
# handling missisng data
df=pd.read_csv("salaries.csv")
df.isnull().sum()

company                   0
job                       0
degree                    0
salary_more_then_100k     0
Unnamed: 4               16
dtype: int64

In [2]:
df.head()

  company                  job     degree  salary_more_then_100k  Unnamed: 4
0  google      sales executive  bachelors                      0         NaN
1  google      sales executive    masters                      0         NaN
2  google     business manager  bachelors                      1         NaN
3  google     business manager    masters                      1         NaN
4  google  computer programmer  bachelors                      0         NaN

In [3]:
df['Unnamed: 4'].isnull().sum()

16

In [4]:
df['Unnamed: 4'].unique()

array([nan])

In [5]:
# we can simply delete this column
df.drop(df.columns[4], axis=1,inplace=True)

In [6]:
df.head(3)

  company               job     degree  salary_more_then_100k
0  google   sales executive  bachelors                      0
1  google   sales executive    masters                      0
2  google  business manager  bachelors                      1

In [7]:
df.columns

Index(['company', 'job', 'degree', 'salary_more_then_100k'], dtype='object')

# or u can import a imputer library for this
from sklearn.preprocessing import imputer

Imputer= imputer(missing_values ='NaN', strategy='mean', axis = 0)

#Fitting imputer object to the independent variables x.   
x= imputer.fit(x[:, 1:3])

#Replacing missing data with the calculated mean value  
x[:, 1:3]= imputer.transform(x[:, 1:3])

### Encoding Categorical data:

In [8]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
x[:,0]=le.fit_transform(x[:,0])
# or let we have to transfrom whole column at index 2
df[:,2]=le.fit_transform(df[:,2])

NameError: name 'x' is not defined

In [ ]:
# Splitting the Dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(x, y, test_size= 0.2, random_state=0)

### Feature Scaling

#  It is a technique to standardize the independent variables of the dataset in a specific range
machine learning models r based on euclidian distance, which can be given by below equation..

<img src="ed1.png" height=300 width=350>

There are two ways to perform feature scaling in machine learning:

#### 1.Standardization

<img src="standardization.png">

#### 2.Normalization

<img src="normalization.png">

In [ ]:
# standardization 
from sklearn.preprocessing import StandardScaler
scale=StandardScaler()
# transforming training data
xtrain=scale.fit_transform(x_train)
# For test dataset, we will directly apply transform() function instead of fit_transform() 
# because it is already done in training set.
xtest=scale.transform(x_test)
# in the output, all the variables are scaled between values -1 to 1.

### Combining all the steps:

In [ ]:
import numpy as np  
import matplotlib.pyplot as plt  
import pandas as pd

In [ ]:
# importing dataset
df=pd.read_csv('data1.csv')
#Extracting Independent and dependent variables
x=df.iloc[:,:-1].values
y=df.iloc[:,3].values

In [ ]:
# handling missing data(Replacing missing data with the mean value) 
from sklearn.preprocessing import Imputer
imputer=Imputer(missing_values='NaN',strategy='mean', axis=0)

In [ ]:
#Fitting imputer object to the independent varibles x.   
imputer2=imputer.fit(x[:, 1:3])

In [ ]:
#Replacing missing data with the calculated mean value  
x[:,1:3]=imputer.transform(x[:,1:3])

In [ ]:
#for Country(categorical) Variable  
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
le=LabelEncoder
# as country is the 1st column
x[:,0]=le.fit_transform(x[:,0])

In [ ]:
#Encoding for dummy variables 
ohe=OneHotEncoder(categorical_features=[0])
x=ohe.fit_transform(x).toarray()

In [ ]:
#encoding for purchased variable  
le2=LabelEncoder()
y=le2.fit_transform(y)

In [ ]:
#Splitting the dataset into training and test set.  
from sklearn.model_selection import train_test_split 
x_train, x_test, y_train, y_test= train_test_split(x, y, test_size= 0.2, random_state=0)