### LightGBM

In [85]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [86]:
%matplotlib inline

In [87]:
import lightgbm as lgb
from lightgbm import LGBMClassifier

In [88]:
# Loading dataset
train=pd.read_csv('train_cleaned.csv')
test=pd.read_csv('test_cleaned.csv')
# submit=pd.read_csv('gender_submission.csv')

In [111]:
submit=pd.read_csv('gender_submission.csv')

In [89]:
train.shape,test.shape

((891, 11), (418, 10))

In [90]:
test.head(2)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,S

In [91]:
# Selecting dependent and independent variables

x=train.drop(['PassengerId','Survived','Name','Ticket'],axis=1)
y=train['Survived']

In [92]:
ID=test['PassengerId']

In [93]:
test=test.drop(['PassengerId','Name','Ticket'],axis=1)

In [94]:
x.head(2)

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  22.0      1      0   7.2500        S
1       1  female  38.0      1      0  71.2833        C

In [95]:
y[0:3]

0    0
1    1
2    1
Name: Survived, dtype: int64

In [96]:
x=pd.get_dummies(x,drop_first=True)

In [97]:
test=pd.get_dummies(test,drop_first=True)

In [98]:
x.head(2)

   Pclass   Age  SibSp  Parch     Fare  Sex_male  Embarked_Q  Embarked_S
0       3  22.0      1      0   7.2500         1           0           1
1       1  38.0      1      0  71.2833         0           0           0

In [99]:
test.head(2)

   Pclass   Age  SibSp  Parch    Fare  Sex_male  Embarked_Q  Embarked_S
0       3  34.5      0      0  7.8292         1           1           0
1       3  47.0      1      0  7.0000         0           0           1

In [100]:
# Scaling train and test data
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()

In [101]:
x=ss.fit_transform(x)

In [102]:
x.shape

(891, 8)

In [103]:
y.shape

(891,)

In [104]:
test=ss.fit_transform(test)

In [105]:
test.shape

(418, 8)

In [106]:
# Model Development

In [140]:
model=LGBMClassifier(n_estimators=50)

In [141]:
model.fit(x,y)

LGBMClassifier(n_estimators=50)

In [142]:
ypred=model.predict(test)

In [143]:
model.score(x,y)

0.9068462401795735

In [144]:
ytrue=submit['Survived']

In [145]:
ypred.shape

(418,)

In [146]:
ytrue.shape

(418,)

In [147]:
from sklearn.metrics import accuracy_score
accuracy_score(ytrue,ypred)

0.8827751196172249

In [148]:
mysub=pd.DataFrame()
mysub['PassengerID']=ID
mysub['Survived']=ypred

In [149]:
mysub.head()

   PassengerID  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0

In [150]:
mysub.to_csv('submission06.csv',index=False)