### Breast Cancer Categorical Dataset

In [27]:
import pandas as pd
import matplotlib.pyplot as plt

In [48]:
df=pd.read_csv('breast-cancer.csv')
df.head(2)

,'40-49','premeno','15-19','0-2','yes','3','right','left_up','no','recurrence-events'
0,'50-59','ge40','15-19','0-2','no','1','right','central','no','no-recurrence-events'
1,'50-59','ge40','35-39','0-2','no','2','left','left_low','no','recurrence-events'

In [49]:
df.shape

(285, 10)

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 285 entries, 0 to 284
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   '40-49'              285 non-null    object
 1   'premeno'            285 non-null    object
 2   '15-19'              285 non-null    object
 3   '0-2'                285 non-null    object
 4   'yes'                277 non-null    object
 5   '3'                  285 non-null    object
 6   'right'              285 non-null    object
 7   'left_up'            284 non-null    object
 8   'no'                 285 non-null    object
 9   'recurrence-events'  285 non-null    object
dtypes: object(10)
memory usage: 22.4+ KB

In [51]:
df.columns

Index([''40-49'', ''premeno'', ''15-19'', ''0-2'', ''yes'', ''3'', ''right'',
       ''left_up'', ''no'', ''recurrence-events''],
      dtype='object')

In [52]:
# When we take values using iloc functions it gives X, y as ndarray

In [53]:
X=df.iloc[:,:-1].values
y=df.iloc[:,-1].values

In [54]:
y[0:5]

array(["'no-recurrence-events'", "'recurrence-events'",
       "'no-recurrence-events'", "'recurrence-events'",
       "'no-recurrence-events'"], dtype=object)

In [55]:
type(X)

numpy.ndarray

In [56]:
type(y)

numpy.ndarray

In [57]:
type(df)

pandas.core.frame.DataFrame

In [61]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25, random_state=2)

In [67]:
df.isnull().sum()

AttributeError: 'NoneType' object has no attribute 'isnull'

In [68]:
type(df)

NoneType

In [62]:
# preprocessing of the data

from sklearn.preprocessing import LabelEncoder,OrdinalEncoder,StandardScaler
le=LabelEncoder()
oe=OrdinalEncoder()
ss=StandardScaler()

In [108]:
try:
    X_train_enc = oe.fit_transform(X_train)
    X_test_enc = oe.transform(X_test)
except:
    print('ValueError: Input contains NaN')

ValueError: Input contains NaN

y_train[0:5]

y_test=y_test.reshape(1,-1)

y_train=y_train.reshape(1,-1)

y_train_enc = le.fit_transform(y_train)
y_test_enc = le.transform(y_test)

In [69]:
from sklearn.feature_selection import SelectKBest, chi2

In [70]:
fs=SelectKBest(score_func=chi2,k='all')

X_train_fs = fs.fit_transform(X_train)
X_test_fs = fs.fit_transform(X_test)

### Feature selection using Mutual Information

-mutual information is based on information gain
-calculated between two variables and measures the reduction in uncertainty for one variable given a known value of the other variable.

In [71]:
import seaborn as sns

In [74]:
print(sns.get_dataset_names)

<function get_dataset_names at 0x0000025150F59C10>

In [83]:
df=sns.load_dataset('tips')

In [84]:
df.head(2)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3

In [85]:
df.shape

(244, 7)

In [86]:
df=df[['sex','smoker','day','time','tip']]

In [87]:
df.head(2)

      sex smoker  day    time   tip
0  Female     No  Sun  Dinner  1.01
1    Male     No  Sun  Dinner  1.66

In [98]:
df['sex']=le.fit_transform(df['sex'])

In [99]:
df['smoker']=le.fit_transform(df['smoker'])
df['day']=le.fit_transform(df['day'])
df['time']=le.fit_transform(df['time'])

In [100]:
df.head(2)

   sex  smoker  day  time   tip
0    0       0    2     0  1.01
1    1       0    2     0  1.66

In [101]:
X=df.drop('tip',axis=1)
y=df.tip

In [102]:
# importing libraries for feature selection
from sklearn.feature_selection import SelectKBest, mutual_info_classif,mutual_info_regression,chi2

In [103]:
# making an instant of feature selection
fs=SelectKBest(score_func=mutual_info_regression,k=2)

X=X.astype(float)

X=X.astype(float)

In [104]:
try:
    X_best=fs.fit_transform(X,y)
except:
    print("ValueError: Unable to convert array of bytes/strings into decimal numbers with dtype='numeric")

In [105]:
X_best.shape

(244, 2)

In [106]:
X.shape

(244, 4)

Now we can see that our no of features have been reduced to 2.. now we can train our model with this X_best

In [107]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()

In [109]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X_best,y,test_size=0.25, random_state=1)

In [110]:
model.fit(X_train,y_train)

LinearRegression()

In [111]:
model.score(X_train,y_train)

0.007248136004535777

In [112]:
model.score(X_test,y_test)

0.016575736341231773

In [114]:
y_pred=model.predict(X_test)

In [113]:
from sklearn.metrics import accuracy_score

In [116]:
try:
    accuracy_score(y_test,y_pred)
except:
    print('ValueError: continuous is not supported')

ValueError: continuous is not supported