In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing

AdaBoost is a boosting algorithm used for the purpose of binary classification, it comes under ensemble technique.
AdaBoost is a short form for Adaptive Boosting, it combines multiple Weak Classifiers to form a single Strong Classifier

We will work on "iris data", and inbuilt data of seaborn, in this dataset we define species of a flower based on the length and width of it sepal(Green leaf like cover below pankhudi) and petal(pankhudi in hindi)

In [1]:
# importing the required libraries
import sklearn
import pandas as pd
import seaborn as sns

In [2]:
# making a dataframe df from 'iris' data
df= sns.load_dataset('iris')

In [3]:
# printing first top 3 rows
df.head(3)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

In [4]:
# printing bottom 3 rows
df.tail(3)

     sepal_length  sepal_width  petal_length  petal_width    species
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

We can clearly see that we have 5 columns, first 4 columns are our independent variable and Last column is our Target variable

In [5]:
# getting descrition of our dataframe
df.describe().T

              count      mean       std  min  25%   50%  75%  max
sepal_length  150.0  5.843333  0.828066  4.3  5.1  5.80  6.4  7.9
sepal_width   150.0  3.057333  0.435866  2.0  2.8  3.00  3.3  4.4
petal_length  150.0  3.758000  1.765298  1.0  1.6  4.35  5.1  6.9
petal_width   150.0  1.199333  0.762238  0.1  0.3  1.30  1.8  2.5

In [ ]:
df.info()

All columns are floating point type, and our target column is Object type. So its clear from here also that we have to go with classification Algorithm

In [ ]:
# getting info of null values
df.isnull().sum()

Since it is a built in data, so its already prepared for our use. We have no null values

In [ ]:
# Extracting Dependent and independent Variable
X=df.drop('species',axis=1)
y=df.species

In [ ]:
# Splitting our dataset into training and testing
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=0)

We have succesfully splitted our dataset, so will proceed for taining

In [ ]:
# importing AdaBoostClassifier
from sklearn.ensemble import AdaBoostClassifier

In [ ]:
# making an instance of the classifier we have just imported
abc=AdaBoostClassifier()

In [ ]:
# fitting our training and testing data that we have splitted
abc.fit(X_train,y_train)

In [ ]:
# Getting Model accuracy score
abc.score(X_train,y_train)

Our model score is 96 percent, this is the power of AdaBoostClassifer(), without hyperparameter tuning or much more feature engineer we have got such a performance level

### Some Visualisation

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
sns.barplot(x=df.species, y=df.sepal_length,data=df)

Virginica has more average sepal length, and Setosa species has smallest average sepal length

In [ ]:
sns.barplot(x=df.species,y=df.sepal_width,data=df)

Setosa has more average sepal width, 
and Versicolor species has smallest average sepal width

In [ ]:
sns.barplot(x=df.species,y=df.petal_length,data=df)

Virginica has the Highest average petal length, and Setosa species has smallest average petal length

In [ ]:
sns.barplot(x=df.species,y=df.petal_width,data=df)

Virginica has the Highest average petal width, and Setosa species has smallest average petal width...
you can alternatively say that petal width of setosa is generally very less, and that of virginica is generally greater

THANKS FOR VISITING ME, HAVE A GOOD DAY