### Twitter Sentiment Analysis

In [1]:
import pandas as pd
import numpy as np

In [2]:
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv('twitter.csv')
df.head(2)

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...

In [8]:
len(df['Unnamed: 0'].unique())

24783

In [9]:
df.shape

(24783, 7)

In [10]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [11]:
df.head(2)

,count,hate_speech,offensive_language,neither,class,tweet
0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...

In [12]:
df['count'].unique()

array([3, 6, 9, 4, 7], dtype=int64)

In [13]:
df['hate_speech'].unique()

array([0, 1, 2, 3, 4, 6, 5, 7], dtype=int64)

In [14]:
df['offensive_language'].unique()

array([0, 3, 2, 6, 1, 7, 5, 4, 8, 9], dtype=int64)

In [15]:
df['neither'].unique()

array([3, 0, 1, 2, 6, 4, 5, 9, 8, 7], dtype=int64)

In [16]:
df['class'].unique()

array([2, 1, 0], dtype=int64)