### Best streaming serivice

In [1]:
import numpy as np # linear algebra
import pandas as pd

In [2]:
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
tv_shows = pd.read_csv('tv_shows.csv')
tv_shows.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,0,1,Breaking Bad,2008,18+,9.4/10,100/100,1,0,0,0,1
1,1,2,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0,1
2,2,3,Attack on Titan,2013,18+,9.0/10,95/100,1,1,0,0,1
3,3,4,Better Call Saul,2015,18+,8.8/10,94/100,1,0,0,0,1
4,4,5,Dark,2017,16+,8.8/10,93/100,1,0,0,0,1

Letâ€™s prepare the dataset so that we can easily analyze the data. 
I will start preparing the data by dropping the duplicate values based on the title of the shows:

In [4]:
tv_shows.shape

(5368, 12)

In [5]:
tv_shows.isnull().sum()

Unnamed: 0            0
ID                    0
Title                 0
Year                  0
Age                2127
IMDb                962
Rotten Tomatoes       0
Netflix               0
Hulu                  0
Prime Video           0
Disney+               0
Type                  0
dtype: int64

In [7]:
tv_shows.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
5363    False
5364    False
5365    False
5366    False
5367    False
Length: 5368, dtype: bool

In [8]:
tv_shows.drop_duplicates(subset='Title',keep='first', inplace=True)

In [9]:
tv_shows.shape

(5368, 12)

In [10]:
tv_shows.IMDb=tv_shows['IMDb'].fillna(0)

In [11]:
tv_shows.dtypes

Unnamed: 0          int64
ID                  int64
Title              object
Year                int64
Age                object
IMDb               object
Rotten Tomatoes    object
Netflix             int64
Hulu                int64
Prime Video         int64
Disney+             int64
Type                int64
dtype: object

In [16]:
tv_shows.head(20)

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,0,1,Breaking Bad,2008,18+,9.4/109.4/109.4/109.4/109.4/109.4/109.4/109.4/...,100/100,1,0,0,0,1
1,1,2,Stranger Things,2016,16+,8.7/108.7/108.7/108.7/108.7/108.7/108.7/108.7/...,96/100,1,0,0,0,1
2,2,3,Attack on Titan,2013,18+,9.0/109.0/109.0/109.0/109.0/109.0/109.0/109.0/...,95/100,1,1,0,0,1
3,3,4,Better Call Saul,2015,18+,8.8/108.8/108.8/108.8/108.8/108.8/108.8/108.8/...,94/100,1,0,0,0,1
4,4,5,Dark,2017,16+,8.8/108.8/108.8/108.8/108.8/108.8/108.8/108.8/...,93/100,1,0,0,0,1
5,5,6,Avatar: The Last Airbender,2005,7+,9.3/109.3/109.3/109.3/109.3/109.3/109.3/109.3/...,93/100,1,0,1,0,1
6,6,7,Peaky Blinders,2013,18+,8.8/108.8/108.8/108.8/108.8/108.8/108.8/108.8/...,93/100,1,0,0,0,1
7,7,8,The Walking Dead,2010,18+,8.2/108.2/108.2/108.2/108.2/108.2/108.2/108.2/...,93/100,1,0,0,0,1
8,8,9,Black Mirror,2011,18+,8.8/108.8/108.8/108.8/108.8/108.8/108.8/108.8/...,92/100,1,0,0,0,1
9,9,10,The Queen's Gambit,2020,18+,8.6/108.6/108.6/108.6/108.6/108.6/108.6/108.6/...,92/100,1,0,0,0,1
10,10,11,Mindhunter,2017,18+,8.6/108.6/108.6/108.6/108.6/108.6/108.6/108.6/...,90/100,1,0,0,0,1
11,11,12,Community,2009,7+,8.5/108.5/108.5/108.5/108.5/108.5/108.5/108.5/...,90/100,1,1,1,0,1
12,12,13,Narcos,2015,18+,8.8/108.8/108.8/108.8/108.8/108.8/108.8/108.8/...,90/100,1,0,0,0,1
13,13,14,Shameless,2011,18+,8.5/108.5/108.5/108.5/108.5/108.5/108.5/108.5/...,90/100,1,1,1,0,1
14,14,15,Money Heist,2017,18+,8.3/108.3/108.3/108.3/108.3/108.3/108.3/108.3/...,90/100,1,0,0,0,1
15,15,16,Marvel's Daredevil,2015,18+,8.6/108.6/108.6/108.6/108.6/108.6/108.6/108.6/...,90/100,1,0,0,0,1
16,16,17,Lucifer,2016,16+,8.1/108.1/108.1/108.1/108.1/108.1/108.1/108.1/...,90/100,1,0,0,0,1
17,17,18,Supernatural,2005,16+,8.4/108.4/108.4/108.4/108.4/108.4/108.4/108.4/...,89/100,1,0,0,0,1
18,18,19,The Witcher,2019,18+,8.2/108.2/108.2/108.2/108.2/108.2/108.2/108.2/...,89/100,1,0,0,0,1
19,19,20,Ozark,2017,18+,8.4/108.4/108.4/108.4/108.4/108.4/108.4/108.4/...,89/100,1,0,0,0,1

In [19]:
tv_shows.drop('Unnamed: 0',axis=1,inplace=True)

In [20]:
tv_shows.head(2)

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,1,Breaking Bad,2008,18+,9.4/109.4/109.4/109.4/109.4/109.4/109.4/109.4/...,100/100,1,0,0,0,1
1,2,Stranger Things,2016,16+,8.7/108.7/108.7/108.7/108.7/108.7/108.7/108.7/...,96/100,1,0,0,0,1

In [21]:
tv_shows['Netflix'].value_counts()

0    3397
1    1971
Name: Netflix, dtype: int64

In [22]:
tv_shows['Hulu'].value_counts()

0    3747
1    1621
Name: Hulu, dtype: int64

In [23]:
tv_shows['Prime Video'].value_counts()

0    3537
1    1831
Name: Prime Video, dtype: int64

In [24]:
tv_shows['Disney+'].value_counts()

0    5017
1     351
Name: Disney+, dtype: int64