### Netflix recommendation system

Netflix is one of the most popular OTT streaming platforms. It offers a vast collection of television series and films and owns its productions known as Netflix Originals. People who are highly active in stock market investments always keep an eye on companies like Netflix because of its popularity.

In [1]:
import pandas as pd
import yfinance as yf
import seaborn as sns
import numpy as np

In [2]:
# how to get current date in python
from datetime import date, timedelta
print(date.today())

2022-07-18

# how to print current time in python
print(date.weekday())

In [3]:
# getting currnt date
today=date.today()

In [4]:
today

datetime.date(2022, 7, 17)

In [5]:
end_date=today.strftime('%Y-%m-%d')
end_date

'2022-07-17'

In [6]:
start_date=today-timedelta(days=5000) # timedelta is used to find diffrence of a date object
start_date=start_date.strftime("%Y-%m-%d")
start_date

'2008-11-07'

In [7]:
data=yf.download('NFLX', start=start_date, end=end_date, progress=False)
data.head(2)

1 Failed download:
- NFLX: No data found for this date range, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [10]:
df=data.copy()

In [11]:
df.head(2)

                Open      High       Low     Close  Adj Close    Volume
Date
2008-09-16  3.962857  4.107143  3.924286  4.065714   4.065714  10801700
2008-09-17  4.045714  4.257143  4.000000  4.122857   4.122857  11447800

In [12]:
df['Date']=df.index

In [13]:
df.head(2)

,Open,High,Low,Close,Adj Close,Volume,Date
Date,,,,,,,
2008-09-16,3.962857,4.107143,3.924286,4.065714,4.065714,10801700,2008-09-16
2008-09-17,4.045714,4.257143,4.000000,4.122857,4.122857,11447800,2008-09-17

In [14]:
df.columns

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'Date'], dtype='object')

In [16]:
df.reset_index(drop=True,inplace=True)
df.head(2)

       Open      High       Low     Close  Adj Close    Volume       Date
0  3.962857  4.107143  3.924286  4.065714   4.065714  10801700 2008-09-16
1  4.045714  4.257143  4.000000  4.122857   4.122857  11447800 2008-09-17

In [9]:
import plotly.graph_objects as go

fig=go.Figure(data=[go.candlestick(x=df["Date"],open=df["Open"],high=df["High"],low=df["Low"],close=df["Close"])])

fig.update_layout(title = "Netflix Stock Price Analysis", xaxis_rangeslider_visible=False)
fig.show()