### Basic Python Programs

In [ ]:
# Find minimum of a list

In [1]:
# Using min function
list1 = [10, 20, 4, 45, 99]
min(list1)

4

In [2]:
list1.sort()
list1[0]

4

In [3]:
list1.sort(reverse=True)
list1[-1]

4

In [9]:
# using comparison operator
list1 = [10, 20, 4, 45, 99]
# assign first as minimum
mini=list1[0]
# 
for i in range(len(list1)):
    if list1[i]<mini:
        mini=list1[i]
print(mini)

4

In [12]:
# find smallest number of a list created by user
mylist=[]
for i in range(5):
    x=int(input('Enter an Integer: '))
    mylist.append(x)
print('Smallest Number Entered by You is: ', min(mylist))

Enter an Integer: 2
Enter an Integer: 3
Enter an Integer: 1
Enter an Integer: 0
Enter an Integer: 7
Smallest Number Entered by You is:  0

In [13]:
# Using lambda function
mylist = [20, 10, 20, 1, 100]
print(min(mylist, key=lambda x: int(x)) )

1

In [14]:
# Enumerate function
lst = [20, 10, 20, 1, 100]
a,i = min((a,i) for (i,a) in enumerate(lst))
print(a)

1

In [15]:
enumerate(lst)

In [17]:
# Find second maximum number
list1 = [10, 20, 20, 4, 45, 45, 45, 99, 99]
lis1=list(set(list1))
list1.sort()
list1[-2]

99

In [20]:
# by removing max
list1 = [10, 20, 20, 4, 45, 45, 45, 99, 99]
lis1=list(set(list1))
list1.remove(max(list1))
max(list1)

99

In [21]:
list1 = [10, 20, 20, 4, 45, 45, 45, 99, 99]
lis1=list(set(list1))
list1.pop(max(list1))
max(list1)

IndexError: pop index out of range

In [22]:
# Using list comprehension

def secondmax(arr):
  sublist = [x for x in arr if x < max(arr)]
  return max(sublist)
 
if __name__ == '__main__':
  arr = [10, 20, 4, 45, 99]
  print(secondmax(arr))

45

In [23]:
# Using enumerate function 
lst = [10, 20, 4, 45, 99]
m=max(lst)
x=[a for i,a in enumerate(lst) if a<m]
print(max(x))

45

In [24]:
# Find n largest number of a list
lst = [10, 20, 4, 45, 99]
lst.sort()
# 3 largest
lst[-3:]

[20, 45, 99]

In [25]:
# print even number in a list
lst = [10, 20, 4, 45, 99]
nlst=[]
for i in lst:
    if i%2==0:
        nlst.append(i)
print(nlst)

[10, 20, 4]

In [26]:
# Print odd number in a list
lst = [10, 20, 4, 45, 99]
nlst=[]
for i in lst:
    if i%2 !=0:
        nlst.append(i)
print(nlst)

[45, 99]

In [3]:
# print all even number in a range
lst=[x for x in range(100)]
nlst=[]
for i in lst:
    if i%2==0:
        nlst.append(i)
print(nlst)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [2]:
# Using while loop
lst=[x for x in range(100)]
mylist=[]
i=0
while i<len(lst):
    if lst[i]%2==0:
        mylist.append(i)
    i+=1
print(mylist)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [5]:
# using list comprehension
lst=[x for x in range(100) if x%2==0]
print(lst)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [6]:
# using lambda
lst= [x for x in range(50)]
print(list(filter(lambda x: (x%2==0),lst)),end='')

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

# Using Recursion
def evennumbers(list, n=0):
    #base case
    if n==len(list):
        exit()
    if list[n]%2==0:
        print(list[n], end=" ")
    #calling function recursively
    evennumbers(list, n+1)
list1 = [10, 21, 4, 45, 66, 93]
print("Even numbers in the list:", end=" ")
evennumbers(list1)

In [6]:
# Using enumerate function 
lst= [x for x in range(50)]
for a,i in enumerate(lst):
    if i%2==0:
        print(i,end='   ')

0   2   4   6   8   10   12   14   16   18   20   22   24   26   28   30   32   34   36   38   40   42   44   46   48

In [7]:
#  Using pass 
for i in lst:
    if i%2!=0:
        pass
    else:
        print(i,end=' ')

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48

### Print odd numbers

In [8]:
list1 = [10, 21, 4, 45, 66, 93]
 
for num in list1:
    if num % 2 != 0:
        print(num, end = " ")

21 45 93

In [ ]:
# using while loop
i=0
while i<len(list1):
    if num % 2 != 0:
        print(num, end = " ")
    i+=1

In [9]:
# Using list comprehension : 
list1 = [10, 21, 4, 45, 66, 93]
only_odd = [num for num in list1 if num % 2 == 1]
print(only_odd)

[21, 45, 93]

In [10]:
list1 = [10, 21, 4, 45, 66, 93, 11]
odd_nos = list(filter(lambda x: (x % 2 != 0), list1))
print("Odd numbers in the list: ", odd_nos)

Odd numbers in the list:  [21, 45, 93, 11]

In [11]:
# Using pass 
lst=[10,21,4,45,66,93,11]
for i in lst:
  if i%2==0:
    pass
  else:
    print(i,end=" ")

21 45 93 11

def oddnumbers(list, n=0):
    #base case
    if n==len(list):
        exit()
    if list[n]%2!=0:
        print(list[n], end=" ")
    #calling function recursively
    oddnumbers(list, n+1)
list1 = [10, 21, 4, 45, 66, 93,11]
print("odd numbers in the list:", end=" ")
oddnumbers(list1)

In [1]:
# Method: Using enumerate function

### remove even numbers

In [3]:
list1 = [11, 5, 17, 18, 23, 50]
lst=[x for x in list1 if x%2 !=0]
lst

[11, 5, 17, 23]

In [4]:
# using for loop
mylist = [11, 5, 17, 18, 23, 50]
for i in mylist:
    if i%2 !=0:
        mylist.remove(i)
print(mylist)

[5, 18, 50]

In [5]:
for ele in mylist:
    if ele % 2 == 0:
        mylist.remove(ele)
mylist
# this program not working correctly

[5, 50]

In [6]:
# list comprehension
list1 = [11, 5, 17, 18, 23, 50]
list1 = [ x for x in list1 if x % 2 != 0]
list1

[11, 5, 17, 23]

In [8]:
list1 = [11, 5, 17, 18, 23, 50]
# items to be removed
unwanted = (11, 5)
list1 = [ele for ele in list1 if ele not in unwanted]
list1

[17, 18, 23, 50]

In [9]:
# Using enumerate function
list1 = [11, 5, 17, 18, 23, 50]
list1 = [ x for i,x in enumerate(list1) if x % 2 != 0]
 
print(list1)

[11, 5, 17, 23]

### Remove empty List from List

In [11]:
# Using list comprehension
mylst = [5, 6, [], 3, [], [], 9]
print('Original list: ',str(mylst))

res = [x for x in mylst if x != []]
print("Final list : " + str(res))

Original list:  [5, 6, [], 3, [], [], 9]
Final list : [5, 6, 3, 9]

In [15]:
lst=[1,3,6]
print(lst)

[1, 3, 6]

In [13]:
# converting the list into str object, will look same when printed, but dtype changed
print(type(str(lst)))

list

In [16]:
# Using filter() method remove empty list from a list of list

mylst = [5, 6, [], 3, [], [], 9]
print(str(mylst))

res = list(filter(None, mylst)) 
print(str(res))

[5, 6, [], 3, [], [], 9]
[5, 6, 3, 9]

In [18]:
def removelst(mylst):
    new_list = []
    for x in mylst:
        if x:
            new_list.append(x)
    return mylst
 
mylst = [5, 6, [], 3, [], [], 9]
print(f"The original list is : {mylst}")
print(f"List after empty list removal : {removelst(mylst)}")

The original list is : [5, 6, [], 3, [], [], 9]
List after empty list removal : [5, 6, [], 3, [], [], 9]

In [19]:
# using remove and hile loop

mylst = [5, 6, [], 3, [], [], 9]
print('Original List: ',str(mylst))
while [] in mylst:
    mylst.remove([])
print('Final List: ',mylst)

Original List:  [5, 6, [], 3, [], [], 9]
Final List:  [5, 6, 3, 9]

In [22]:
# lets remove the list without converting to str object

mylst = [5, 6, [], 3, [], [], 9]
print('Original List: ',mylst)
while [] in mylst:
    mylst.remove([])
print('Final List: ',mylst)

Original List:  [5, 6, [], 3, [], [], 9]
Final List:  [5, 6, 3, 9]

In [20]:
# using list comprehension
mylst = [5, 6, [], 3, [], [], 9]
mylst=[x for x in mylst if x!=[]]
mylst

[5, 6, 3, 9]

In [23]:
# using enumerate
mylst = [5, 6, [], 3, [], [], 9]
mylst=[y for x,y in enumerate(mylst) if y!=[]]
mylst

[5, 6, 3, 9]

In [24]:
# using append
mylst = [5, 6, [], 3, [], [], 9]
nlst=[]
for x in mylst:
    if x!=[]:
        nlst.append(x)
print(nlst)

[5, 6, 3, 9]

### Cloning or copying a list

Various ways of copying list take different execution times, so we can compare them on the basis of time.

In [ ]:
# Using the slicing technique

This technique takes about 0.039 seconds and is the fastest technique, it is the fastest technique

In [25]:
def clonelist(x):
    nlst=x[:]
    return nlst
x=[1,2,3,4]
clonelist(x)

[1, 2, 3, 4]

In [26]:
# Using the extend() method

takes around 0.053 seconds to complete.

In [29]:
def clonelist(x):
    n=[]
    nlst=n.extend(x)
    return n
x=[1,2,3,4]
clonelist(x)

[1, 2, 3, 4]

In [30]:
# Using =(assignment operator)

Note – There is an issue with this method if you modify in the new list then the old list is also modified due to the new list is referencing

In [31]:
def copylist(x):
    n=x
    return n
x=[1,2,3,4]
copylist(x)

[1, 2, 3, 4]

In [32]:
x=[1,2,3,4]
n=x
n

[1, 2, 3, 4]

In [33]:
# modify n, x will also be modified
n[3]=5
print(n)
print(x)

[1, 2, 3, 5]
[1, 2, 3, 5]

In [34]:
# Using Shallow Copy

Takes around 0.186 seconds to complete.

The copy() returns a shallow copy of the list, and deepcopy() returns a deep copy of the list. As you can see that both have the same value but have different IDs.

In [36]:
import copy

In [38]:
list1 = [1, 2, [3, 5], 4]
list2 = copy.copy(list1) # Shallow Copy
print('list 2:',list2)

list3 = copy.deepcopy(list1)
print('list 3:',list3)

list 2: [1, 2, [3, 5], 4]
list 3: [1, 2, [3, 5], 4]

In [40]:
print("list3 ID: ", id(list3), "\nValue: ", list3)

list3 ID:  2312335611904
Value:  [1, 2, [3, 5], 4]

Shallow copy reflect the change the originalist but deep copy does not reflect any change met to the list

In [41]:
# using list  comprehension
li1 = [4, 8, 2, 10, 15, 18]
li_copy = [i for i in li1]
li_copy

[4, 8, 2, 10, 15, 18]

### Count Occurances

In [45]:
# using for loop
def countx(lst,n):
    count=0
    for i in lst:
        if i==n:
            count=count+1
    return count
n=10
lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]
countx(lst,n)

2

In [ ]:
# Using count() method

def countx(lst):
    count=0
    for i in lst:
        if i==n:
            count=count+1
    return count
n=10
lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]
countx(lst,n)

In [47]:
from collections import Counter

In [48]:
c = Counter('abcdeabcdabcaba')  # count elements from a string

In [49]:
c.most_common(3)                # three most common elements

[('a', 5), ('b', 4), ('c', 3)]

In [50]:
sorted(c)                       # list all unique elements

['a', 'b', 'c', 'd', 'e']

In [53]:
c.elements()

In [51]:
''.join(sorted(c.elements()))   # list elements with repetitions

'aaaaabbbbcccdde'

In [54]:
sum(c.values())                 # total of all counts

15

In [55]:
c['a']                          # count of letter 'a'

5

In [57]:
for elem in 'shazam':           # update counts from an iterable
    c[elem] += 1                # by adding 1 to each element's count
c['a']

9

In [58]:
del c['b']                      # remove all 'b'
c['b']                          # now there are zero 'b'

0

In [59]:
d = Counter('simsalabim')       # make another counter
c.update(d)                     # add in the second counter
c['a']                          # now there are 11 'a'

11

In [60]:
c.clear()                       # empty the counter
c
Counter()

Counter()

In [ ]:
Note:  If a count is set to zero or reduced to zero, it will remain
in the counter until the entry is deleted or the counter is cleared:

>>> c = Counter('aaabbc')
>>> c['b'] -= 2                     # reduce the count of 'b' by two
>>> c.most_common()                 # 'b' is still in, but its count is zero
[('a', 3), ('c', 1), ('b', 0)]
Init docstring:
Create a new, empty Counter object.  And if given, count elements
from an input iterable.  Or, initialize the count from another mapping
of elements to their counts.

>>> c = Counter()                           # a new, empty counter
>>> c = Counter('gallahad')                 # a new counter from an iterable
>>> c = Counter({'a': 4, 'b': 2})           # a new counter from a mapping
>>> c = Counter(a=4, b=2)                   # a new counter from keyword args

In [62]:
from collections import Counter
lst = [1, 1, 2, 2, 3, 3, 4, 4, 5, 5]
x=Counter(lst)
print('Count of {} is {}'.format(3,x[3]))

Count of 3 is 2

Operator.countOf() is used for counting the number of occurrences of b in a

In [63]:
import operator as op

In [66]:
l = [1, 1, 2, 2, 2, 3, 3, 4, 4, 5, 5]
x=3
print(f'{x} has occured {op.countOf(l, x)} times')

3 has occured 2 times

In [71]:
mylst = ['a', 'd', 'd', 'c', 'a', 'b', 'b', 'a', 'c', 'd', 'e']
x = {i: mylst.count(i) for i in mylst}
print(x.get('e'))

1

In [74]:
# count elements of a list using pandas series, first need to convert into a series
import pandas as pd
l = [1, 1, 2, 2, 2, 3, 3, 4, 4, 5, 5]
x=pd.Series(l).value_counts()
x

2    3
1    2
3    2
4    2
5    2
dtype: int64

In [77]:
x.get(5)

2

In [78]:
# Using list comprehension
l = [1, 1, 2, 2, 2, 3, 3, 4, 4, 5, 5]
x=[i for i in l if i==3]
x

[3, 3]

### Remove Empty Tuples

In [80]:
tuples = [(), ('ram','15','8'), (), ('laxman', 'sita'),('krishna', 'akbar', '45'), ('',''),()]
tuples = [x for x in tuples if x!=()]
tuples

[('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('', '')]

In [81]:
# Or simply if x
tuples = [(), ('ram','15','8'), (), ('laxman', 'sita'),('krishna', 'akbar', '45'), ('',''),()]
tuples = [x for x in tuples if x]
tuples

[('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('', '')]

In [83]:
# Using filter
def removetup(x):
    a=filter(None,x)
    return a
x=[(), ('ram','15','8'), (), ('laxman', 'sita'),('krishna', 'akbar', '45'), ('',''),()]
removetup(x)

In [84]:
# Using len()==0

def remov(tuples):
    x=[i for i in tuples if len(i)!=0]
    return x
tuples=[(), ('ram','15','8'), (), ('laxman', 'sita'),('krishna', 'akbar', '45'), ('',''),()]
remov(tuples)

[('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('', '')]

In [85]:
# using ==
def check(tuples):
    for i in tuples:
        if i==():
            tuples.remove(i)
    return tuples
tuples=[(), ('ram','15','8'), (), ('laxman', 'sita'),('krishna', 'akbar', '45'), ('',''),()]
check(tuples)

[('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('', '')]

In [86]:
tuples = [(), ('ram','15','8'), (), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('',''),()]
x = [y for x,y in enumerate(tuples) if y]
print(x)

[('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('', '')]

### Print duplicates

In [112]:
from collections import Counter
 
lst = [1,2,1,2,3,4,5,1,1,2,5,6,7,8,9,9]
x = Counter(lst)
print(x)
nlst = list([i for i in x if x[i]>1])
print('Duplicates: ',nlst)

Counter({1: 4, 2: 3, 5: 2, 9: 2, 3: 1, 4: 1, 6: 1, 7: 1, 8: 1})
Duplicates:  [1, 2, 5, 9]

In [3]:
# using count
lst = [1, 2, 1, 2, 3, 4, 5, 1, 1, 2, 5, 6, 7, 8, 9, 9]
nlst=list(set([x for x in lst if lst.count(x)>1]))
nlst

[1, 2, 5, 9]

In [6]:
# Using in, not in operators and count() 
lst = [1, 2, 1, 2, 3, 4, 5, 1, 1, 2, 5, 6, 7, 8, 9, 9]
x=[]
y=[]
for i in lst:
    if i not in x:
        x.append(i)
    else:
        y.append(i)
print(list(set(y)))

[1, 2, 5, 9]

In [7]:
# Cumulative sum of a list
lst = [10, 20, 30, 40, 50]
summ=0
for i in range(len(lst)):
    summ=summ+lst[i]
print(summ)

150

In [15]:
# while loop cumsum
lst = [10, 20, 30, 40, 50]
summ=0
i=0
while i <len(lst):
    summ=summ+lst[i]
    i=i+1
print(summ)

150

In [8]:
# Cumulative prod of a list
lst = [10, 20, 30, 40, 50]
prod=1
for i in range(len(lst)):
    prod=prod*lst[i]
print(prod)

12000000

In [10]:
import math
import numpy as np

In [12]:
np.cumprod([lst])

array([      10,      200,     6000,   240000, 12000000], dtype=int32)

In [13]:
np.cumsum([lst])

array([ 10,  30,  60, 100, 150], dtype=int32)

In [17]:
# Sum of number digits in List
test_list = [12, 67, 98, 34]
print("The original list : " + str(test_list))

res = []
for ele in test_list:
    summ = 0
    for digit in str(ele):
        summ += int(digit)
    res.append(summ)

print ("Integer Summation : " + str(res))

The original list : [12, 67, 98, 34]
Integer Summation : [3, 13, 17, 7]

In [24]:
lst = [12, 67, 98, 34]
res = list(map(lambda i: sum(int(a) for a in str(i)), lst))
res

[3, 13, 17, 7]

reduce(function, sequence[, initial])
Apply a function of two arguments cumulatively to the items of a sequence,
from left to right, so as to reduce the sequence to a single value.

In [25]:
# Using sum and reduce
from functools import reduce

lst = [12, 67, 98, 34]
res = [reduce(lambda x, y: int(x) + int(y), list(str(i))) for i in lst]
res

[3, 13, 17, 7]

### Break a list into chunks of size N

The yield keyword helps a function to remember its state. The yield enables a function to suspend and resume while it turns in a value at the time of the suspension of the execution.

In [26]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
start = 0
end = 12
step = 3
for i in range(start, end, step):
    x = i
    print(my_list[x:x+step])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
[]