In [1]:
# Program for n-th Fibonacci number

In mathematical terms, the sequence Fn of Fibonacci numbers is defined by the recurrence relation 
Fn = Fn-1 + Fn-2

With seed values F0 = 0 and F1 = 1.

In [5]:
def fibonac(n):
    if n==0:
        print('invalid input,First Fibonacci number is 0')
    elif n==1:
        return 0
    elif n==2:
        return 1
    else:
        return fibonac(n-2)+fibonac(n-1)
fibonac(10)

34

In [20]:
# Sum of squares of first n natural numbers
num=int(input('Enter a number: '))
sum=0
for i in range(1,num+1):
    sum=sum+i*i
print(sum)

Enter a number: 6
91

In [21]:
# user func
def mysum(n):
    sum=0
    for i in range(1,num+1):
        sum=sum+i*i
    print(sum)
mysum(5)

91

In [24]:
# cube of first n natural number

def mycube(n):
    cube=0  
    for i in range(1,n+1):
        cube=cube+i*i*i
    print(cube)
mycube(5)

225

In [25]:
n=5
s=0
for i in range(1,n+1):
    s=s+pow(i,3)
print(s)

225

In [26]:
# Python program to print ASCII Value of Character

x=input('enter a character')
print(ord(x))

enter a charactern
110

In [28]:
# maximum of two numbers

def maximum(a, b):     
    if a >= b:
        return a
    else:
        return b
maximum(5,7)

7

In [32]:
a=int(input('Enter a: '))
b=int(input('Enter b: '))
print('Max value is ',max(a,b))

Enter a: 5
Enter b: 3
Max value is  5

In [33]:
# find max using ternary operator

a=int(input('Enter a: '))
b=int(input('Enter b: '))
print(a if a>b else b)

Enter a: 7
Enter b: 5
7

In [38]:
a=int(input('Enter a: '))
b=int(input('Enter b: '))
lambda a,b:a if a>b else b

Enter a: 4
Enter b: 3

In [39]:
a,b=4,3
maximum = lambda a,b:a if a > b else b
print(f'{maximum(a,b)} is a maximum number')

4 is a maximum number

In [42]:
# Factorial of a number

def factorial(n):
    if n==0 or n==1:
        return 0
    else:
         return n*factorial(n-1)
factorial(3)

0

In [47]:
def factorial(n):
    if n < 0:
        return 0
    elif n == 0 or n == 1:
        return 1
    else:
        fact = 1
        while(n > 1):
            fact= fact*n
            n=n-1
        return fact
print(factorial(4))

24

In [48]:
def factorial(n):     
    r = 1     
    for i in range(2, n+1):
        r *= i
    return r
print(factorial(4))

24

In [49]:
def factorial(n):
     return 1 if (n==1 or n==0) else n * factorial(n - 1)
print (factorial(4))

24

In [50]:
import math
def fact(n):
    return(math.factorial(n))
print(fact(5))

120

In [51]:
import numpy
n=5
x=numpy.prod([i for i in range(1,n+1)])
print(x)

120

In [54]:
# sum of an array

def sumarray(arr):
    sum=0
    for i in arr:
        sum=sum+i
    return sum
arr=[1,2,3,4]
sumarray(arr)

10

In [57]:
# find sum using numpy
import numpy as np
np.sum(arr)

10

In [60]:
np.add([2,3],[8,5])

array([10,  8])

In [64]:
# using built in function
import math
math.sum([1,2,3,4])

AttributeError: module 'math' has no attribute 'add'

In [68]:
# maximum of an array
max(arr)

5

In [69]:
def largest(arr, n):
 
    # Initialize maximum element
    max = arr[0]
    # Traverse array elements from second and compare every element with current max
    for i in range(1, n):
        if arr[i] > max:
            max = arr[i]
    return max
arr = [10, 324, 45, 90, 9808]
n = len(arr)
ans = largest(arr, n)
print("Largest in given array ", ans)

Largest in given array  9808

In [73]:
# Using sort function
arr=np.arange(6)
# x=arr.sort()   sort function doesn't create a copy of array, it changes the original array
arr.sort()
print(arr[-1])

5

In [74]:
# Rotate an array by 2
arr= [1, 2, 3, 4, 5, 6, 7]
arr2=[]
for i in arr[2:]:
    arr2.append(i) 
for i in arr[0:2]:
    arr2.append(i)
print(arr2)

[3, 4, 5, 6, 7, 1, 2]

In [76]:
def rotatearr(arr,n,d):
    arr[:]=arr[d:n]+arr[0:d]
    return arr
arr= [1, 2, 3, 4, 5, 6, 7]
n=len(arr)
d=2
rotatearr(arr,n,d)

[3, 4, 5, 6, 7, 1, 2]

In [77]:
def isMonotonic(A):
  
    return (all(A[i] <= A[i + 1] for i in range(len(A) - 1)) or
            all(A[i] >= A[i + 1] for i in range(len(A) - 1)))
  
# Driver program
A = [6, 5, 4, 4]
  
# Print required result
print(isMonotonic(A))

True

In [2]:
# Ways to find length of list
n=0
mylist = [1,4,5,7,8]
for i in mylist:
    n=n+1
print(str(n))

5

In [4]:
# using lenght function and length_hint 

from operator import length_hint
print(len(mylist))
print(length_hint(mylist))

5
5

In [7]:
import time
mylist = [ 1, 4, 5, 7, 8 ]

print('start_time=', time.time())
start_time= time.time()
counter = 0

for i in mylist:
    counter = counter + 1
end_time = str(time.time() - start_time)

print('end_time=',end_time)

start_time= 1662449284.285576
end_time= 0.0

### Check if an element exists

In [8]:
test_list = [1, 6, 3, 5, 3, 4]
 
# Checking if 4 exists in list
for i in test_list:
    if(i == 4):
        print("Element Exists")

Element Exists

In [9]:
if (4 in test_list):
    print("Element Exists")

Element Exists

In [10]:
if 4 in test_list:
    print("Element Exists")

Element Exists

In [18]:
# Check if an element exists in the list using count()

mylist = [10, 15, 20, 7, 46, 2808]
n = mylist.count(33)
#  count() Return number of occurrences of value.

if n > 0:
    print("Yes")
else:
    print("Not exits" )

Not exits

### Different ways to clear a list in Python

In [19]:
mylist = [10, 15, 20, 7, 46, 2808]
mylist.clear()
mylist

[]

In [26]:
# using pop
mylist = [10, 15, 20, 7, 46, 2808]
for i in range(0,len(mylist)):
    mylist.pop()
mylist

[]

In [27]:
mylist = [10, 15, 20, 7, 46, 2808]
mylist=mylist*0
mylist

[]

In [28]:
# using del
mylist = [10, 15, 20, 7, 46, 2808]
del mylist[:]
mylist

[]

### Reversing a list/array

In [30]:
lst = [10, 11, 12, 13, 14, 15]
print(lst)
lst.reverse()
lst

[10, 11, 12, 13, 14, 15]

[15, 14, 13, 12, 11, 10]

In [31]:
list1 = [10, 11, 12, 13, 14, 15]
list2 = []

for i in list1:
    list2.insert(0, i) # Inserts i at 0, and position zero keeps changing with each loop
print(list2)

[15, 14, 13, 12, 11, 10]

In [32]:
# Reversing a list using the slicing technique
list1 = [10, 11, 12, 13, 14, 15]

list1=list1[::-1]
list1

[15, 14, 13, 12, 11, 10]

# using for loop
mylist= [10, 11, 12, 13, 14, 15]
for i in range(0,len(mylist)):
    mylist=mylist[len(mylist)-i]
mylist

In [38]:
mylist = [10, 11, 12, 13, 14, 15]
print([mylist[len(mylist) - i] for i in range(1, len(mylist)+1)])

[15, 14, 13, 12, 11, 10]

In [39]:
# FINDING SUM OF A LIST

In [44]:
list1 = [11, 5, 17, 18, 23]
summ=0
for i in range(0,len(list1)):
    summ=summ+list1[i]
print(summ)

74

list1 = [11, 5, 17, 18, 23]
summ=0
for i in range(0,len(list1)):
    summ=summ+list1[i]
return summ


What is the use of return statement?
A return statement ends the execution of a function, and returns control to the calling function. Execution resumes in the calling function at the point immediately following the call. A return statement can return a value to the calling function

Is return function necessary?
NO, a function does not always have to have an explicit return statement. If the function doesn't need to provide any results to the calling point, then the return is not needed.

What is difference between print and return in Python?
The print() function writes, i.e., "prints", a string or a number on the console. The return statement does not print out the value it returns when the function is called. It however causes the function to exit or terminate immediately, even if it is not the last statement of the function.

In [47]:
def summ(x):
    sum=0
    for i in range(0,len(x)):
        sum=sum+x[i]
    return sum
list1 = [11, 5, 17, 18, 23]
summ(list1)

74

In [49]:
list1 = [15, 15, 5, 10]
s=0
for i,a in enumerate(list1):
    s+=a
print(s)

45

In [50]:
list1 = [12, 15, 3, 10]
s=[i for i in list1]
print(sum(s))

40

### Multiply all numbers in the list (4 different ways)

In [54]:
def prod(n):
    multi=1
    for i in range(0,len(n)):
        multi=multi*i
    return multi
list1 = [1, 2, 3]
list2 = [3, 2, 4]
prod(list1)
prod(list2)

0

In [55]:
def prod(myList) :
    result = 1
    for i in myList:
        result = result * i
    return result
     
# Driver code
list1 = [1, 2, 3]
list2 = [3, 2, 4]
print(prod(list1))
print(prod(list2))

6
24

In [56]:
list1 = [1, 2, 3]
import numpy as np
np.prod(list1)

6

Apply a function of two arguments cumulatively to the items of a sequence,
from left to right, so as to reduce the sequence to a single value.

In [57]:
from functools import reduce
list1 = [1, 2, 3]
list2 = [3, 2, 4]
 
 
result1 = reduce((lambda x, y: x * y), list1)
result2 = reduce((lambda x, y: x * y), list2)
print(result1)
print(result2)

6
24

In [59]:
import math
math.prod(list1)

6

In [61]:
# find second largest number in a list
list1 = [10, 20, 4, 45, 99]
list1.sort()
print(list1)
list1[-2]

[4, 10, 20, 45, 99]

45

In [62]:
# By removing the max element from the list
list1 = [10, 20, 4, 45, 99]
list1.remove(max(list1))
max(list1)

45

In [66]:
def maxx(x):
    submax=[i for i in x if i<max(x)]
    return max(submax)
if __name__=='__main__':
    mylist=[2,33,52,21]
    print(maxx(mylist))

33

In [1]:
# change first and last element
mylist=[12, 35, 9, 56, 24]
mylist[0]=mylist[-1]
mylist

[24, 35, 9, 56, 24]

In [2]:
# find length of a list using for loop
mylist=[12, 35, 9, 56, 24]

count=0
for i in mylist:
    count=count+1
print(count)

5

# Different ways to clear a list in Python

del list1[:]
print ("List2 after clearing using del : " + str(list2))
list1 *= 0
list1.clear()

lst.reverse()

In [4]:
# reversing a list

list1 = [10, 11, 12, 13, 14, 15]
list2 = []
for i in list1:
    # reversing the list
    list2.insert(0, i)
print(list2)

[15, 14, 13, 12, 11, 10]

In [6]:
# reversing a list using slicing
def revers(mylist):
    nlist=mylist[::-1]
    return nlist
revers([1,2,3,4,5])

[5, 4, 3, 2, 1]

In [7]:
# Using list comprehension
list1 = [10, 11, 12, 13, 14, 15]
nlist = [list1[len(list1) - i] for i in range(1, len(list1)+1)]
print(nlist)

[15, 14, 13, 12, 11, 10]

In [10]:
# find sum of elements in list : for loop
list1 = [1, 1, 1, 1, 1]
total=0
for i in range(0,len(list1)):
    total=total+list1[i]
print(total)

5

In [11]:
# Find sum of elements in list using while loop

list1 = [11, 5, 17, 18, 23]

i=0
while(i < len(list1)):
    total = total + list1[i]
    i += 1
print(total)

79

In [13]:
list1 = [12, 15, 3, 10];s=0
for i,a in enumerate(list1):
    print(i,':',a)

0 : 12
1 : 15
2 : 3
3 : 10

In [14]:
list1 = [12, 15, 3, 10];s=0
for i,a in enumerate(list1):
    s=s+a
print(s)

40

In [17]:
# Multiply all numbers in the list

mylist=[1,2,4,5]
prod=1
for i in mylist:
    prod=prod*i
print(prod)

40

In [18]:
import numpy as np

In [20]:
prod=np.prod(mylist)
prod

40

In [ ]:
# product using reduce function

from functools import reduce
list1 = [1, 2, 3]
list2 = [3, 2, 4]

reduce(lambda x,y:x*y)