### Chi-Sqaure Test Mathematical Explation

Mathematically, a Chi-Square test is done on two distributions two determine the level of similarity of their respective variances. In its null hypothesis, it assumes that the given distributions are independent

#### What is the use of chi-square test??

- to find out the correlation between the categorical variables
- in other word we can say that it is used to find out the difference between observed value and expected value.

<img src='chi2b.jpg' width=400 height=100>

In [2]:
# What is the meaning of statement below??

It is important to note that the variables to be compared should have only 2 categories i.e 1 and 0 the chi-square test fails to determine the correlation between variables with more than 2 categories.

In [3]:
# How do we start calculating chi2 test??

While conducting the chi-square test we have to initially consider 2 hypothesis i.e the Null Hypothesis and the Alternate Hypothesis.

    H0 (Null Hypothesis) = The 2 variables to be compared are independent
    H1 (Alternate Hypothesis) = The 2 variables are dependent

Now, if the p-value obtained after conducting the test is less than 0.05 we reject the Null hypothesis and accept the Alternate hypothesis and if the p-value is greater that 0.05 we accept the Null hypothesis and reject the Alternate hypothesis.

In [1]:
# if value of chi2 is so high what does it mean??

For each feature in the dataset, the Chi2 is calculated and then ordered in descending order according to the Chi2 value.
More value of chi2, more importent feature it is.

In [2]:
# How to implement the Chi-Square Test in Python?

- Using sklearn.feature_selection import chi2,SelectKbest
- chi2 takes two parameters X(n_smaples,n_features), y(n_samples)

In [3]:
from sklearn.feature_selection import chi2,SelectKBest
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df=sns.load_dataset('tips')
df.head(2)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3

In [5]:
df=df[['total_bill','tip','size']]
df.head(2)

   total_bill   tip  size
0       16.99  1.01     2
1       10.34  1.66     3

In [6]:
resultant = pd.DataFrame(data=[(0 for i in range(len(df.columns))) for i in range(len(df.columns))], 
                         columns=list(df.columns))

In [7]:
resultant

   total_bill  tip  size
0           0    0     0
1           0    0     0
2           0    0     0

In [8]:
resultant.set_index(pd.Index(list(df.columns)), inplace = True)

for i in list(df.columns):
    for j in list(df.columns):
        if i!=j:
            chi2_val, p_val = chi2(np.array(df[i]).reshape(-1, 1), np.array(df[j]).reshape(-1, 1))
            resultant.loc[i,j] = p_val
print(resultant)

### Direct implementation using sklearn

In [10]:
from sklearn.datasets import load_iris
from sklearn.feature_selection import chi2, SelectKBest

In [11]:
iris=load_iris()

In [12]:
X=iris.data
y=iris.target

In [13]:
X[0:5]

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2]])

In [14]:
type(X)

numpy.ndarray

In [15]:
X=X.astype(int)

In [16]:
chi=SelectKBest(chi2, k=2)

In [17]:
X_Kbest=chi.fit_transform(X,y)

In [18]:
print('original shape: ', X.shape)
print('reduced shape: ', X_Kbest.shape)

original shape:  (150, 4)
reduced shape:  (150, 2)

## Pearson’s Chi-Square Test

The Pearson’s Chi-Square statistical hypothesis is a test for independence between categorical variables.

In [19]:
# What is a contigency table??

Also called crosstab, is a table that is used to summarise the relationship between several categorical variables

Here, we take a table that shows the number of men and women buying different types of pets.

<img src='table.jpg'>

The aim of the test is to conclude whether the two variables( gender and choice of pet ) are related to each other.

We start by defining the null hypothesis (H0) which states that there is no relation between the variables. An alternate hypothesis would state that there is a significant relation between the two.

We can verify the hypothesis by these methods:
- p-vlaue
- chi2 table
- expected value table

In [20]:
# Using p value

We define a significance factor to determine whether the relation between the variables is of considerable significance. Generally a significance factor or alpha value of 0.05 is chosen. This alpha value denotes the probability of erroneously rejecting H0 when it is true. A lower alpha value is chosen in cases where we expect more precision. If the p-value for the test comes out to be strictly greater than the alpha value, then H0 holds true.

In [21]:
# Using chi-square value

If our calculated value of chi-square is less or equal to the tabular(also called critical) value of chi-square, then H0 holds true.

Expected Values Table:
we prepare a similar table of calculated(or expected) values using below formula

<img src='exp-values.jpg'>

the expected values looks like this

<img src='exp-values2.jpg'>

Next we prepare chi2 table using below formula

<img src='chi2c.jpg'>

The table looks like as below

<img src='chi2-tbl.jpg'>

Hence the calculated value of chi-square is 4.542228269825232

Now, we need to find the critical value of chi-square. We can obtain this from a table. To use this table, we need to know the degrees of freedom for the dataset.  The degrees of freedom is defined as : (no. of rows – 1) * (no. of columns – 1).
Hence, the degrees of freedom is (2-1) * (3-1) = 2

Now, let us look at the table and find the value corresponding to 2 degrees of freedom and 0.05 significance factor :

In [22]:
from scipy.stats import chi2_contingency

In [23]:
data = [[207, 282, 241], [234, 242, 232]]

In [24]:
data=sns.load_dataset('tips')
data.head(2)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3

In [25]:
df=data[['total_bill','tip']]

In [26]:
df.head(2)

   total_bill   tip
0       16.99  1.01
1       10.34  1.66

In [27]:
stat, p, dof, expected = chi2_contingency(df)

In [28]:
alpha = 0.05
print("p value is " + str(p))
if p <= alpha:
    print('Dependent (reject H0)')
else:
    print('Independent (H0 holds true)')

p value is 1.0
Independent (H0 holds true)

### Practice 1

In [29]:
from scipy.stats import chi2_contingency

In [30]:
stat,p,dof,expected=chi2_contingency(df)

In [31]:
alpha=0.05
print("P-value is " +str(p))
if p<=alpha:
    print('dependent (H0 rejected)')
else:
    print('independent (H0 is True)')

P-value is 1.0
independent (H0 is True)