### Card Prediction by Me

In [1]:
# loading basic library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
# loading and reading dataset
df = pd.read_csv("CarPrice_Assignment.csv")
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [4]:
# getting the shape of data
df.shape

(205, 26)

> So, We have 205 records and 26 columns

In [3]:
# checking for null values
df.isnull().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

> There is no null values in our dataset,its fine

In [10]:
# checking for duplicates

df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
200    False
201    False
202    False
203    False
204    False
Length: 205, dtype: bool

In [11]:
cat_col=df.select_dtypes(include='object').columns.tolist()
cat_col

['CarName',
 'fueltype',
 'aspiration',
 'doornumber',
 'carbody',
 'drivewheel',
 'enginelocation',
 'enginetype',
 'cylindernumber',
 'fuelsystem']

In [12]:
from sklearn.preprocessing import StandardScaler,LabelEncoder
le=LabelEncoder()
ss=StandardScaler()

In [13]:
df[cat_col]=df[cat_col].astype('str').apply(le.fit_transform)
df.head(3)

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,2,1,0,1,0,2,0,88.6,...,130,5,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,3,1,0,1,0,2,0,88.6,...,130,5,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,1,1,0,1,2,2,0,94.5,...,152,5,2.68,3.47,9.0,154,5000,19,26,16500.0

> Now we can see that our data has been Label encoded,

In [14]:
# removing some unnecessary columns

In [15]:
df.drop(columns=['car_ID','highwaympg'],inplace=True)

In [16]:
df.head(2)

,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,price
0,3,2,1,0,1,0,2,0,88.6,168.8,...,2,130,5,3.47,2.68,9.0,111,5000,21,13495.0
1,3,3,1,0,1,0,2,0,88.6,168.8,...,2,130,5,3.47,2.68,9.0,111,5000,21,16500.0

In [17]:
# selecting x and y variables
x=df.drop('price',axis='columns')
y=df.price

In [18]:
x=ss.fit_transform(x)

In [19]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.20,random_state=41)

### Linear Model

In [20]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(xtrain,ytrain)

LinearRegression()

In [21]:
# training score
lr.score(xtrain,ytrain)

0.9062217834215769

In [22]:
# test score
lr.score(xtest,ytest)

0.791669064882469

In [23]:
ypred1=lr.predict(xtest)

In [24]:
from sklearn.metrics import mean_squared_error as mse,r2_score

In [27]:
# rmse of linear model
mse(ytest,ypred1)**0.5

2829.223059177781

### random forest

In [41]:
from sklearn.ensemble import RandomForestRegressor
rf=RandomForestRegressor(n_estimators=400)

In [42]:
rf.fit(xtrain,ytrain)

RandomForestRegressor(n_estimators=400)

In [43]:
rf.score(xtrain,ytrain)

0.9904016200879094

In [44]:
# test score
rf.score(xtest,ytest)

0.885132962457686

In [45]:
ypred=rf.predict(xtest)

In [46]:
# rmse of linear model
mse(ytest,ypred)**0.5

2100.8160066972755

### decision tree

In [49]:
from sklearn.tree import DecisionTreeRegressor,ExtraTreeRegressor

In [48]:
dt=DecisionTreeRegressor()

In [50]:
dt.fit(xtrain,ytrain)

DecisionTreeRegressor()

In [51]:
dt.score(xtrain,ytrain)

1.0

In [52]:
# test score
dt.score(xtest,ytest)

0.8316062288456099

In [53]:
ypred=dt.predict(xtest)

In [54]:
# rmse of linear model
mse(ytest,ypred)**0.5

2543.6263715215196

### Extra Tree Model

In [55]:
et=ExtraTreeRegressor()

In [56]:
et.fit(xtrain,ytrain)

ExtraTreeRegressor()

In [57]:
et.score(xtrain,ytrain)

1.0

In [58]:
# test score
et.score(xtest,ytest)

0.6335993789025544

In [59]:
ypred=et.predict(xtest)
# rmse of linear model
mse(ytest,ypred)**0.5

3752.0481932844355

### SVM

In [60]:
from sklearn.svm import SVR

In [61]:
svm=SVR()

In [62]:
svm.fit(xtrain,ytrain)

SVR()

In [63]:
svm.score(xtrain,ytrain)

-0.1491446815780597

In [64]:
# test score
svm.score(xtest,ytest)

-0.1292098342808068

In [65]:
ypred=svm.predict(xtest)
# rmse of linear model
mse(ytest,ypred)**0.5

6586.847873894602